.ccA {
  font-size: 0.7vw;
  padding-left: 0.9vw;
  background-image: url(../../../assets/ic_time.svg);
  background-size: 0.6vw;
  background-position: 0 0.14vw;
  background-repeat: no-repeat;
}
.ccB {
  color: #343536;
  font-size: 0.8vw;
}
/* ///////////////////////////////////////////////////////////////////////////// */
.a {
  padding: 0.5vw;
  padding-top: 1.4vw;
}
.aA {
  border-radius: 0.5vw;
  overflow: hidden;
  height: 16vw;
}
.b {
  padding: 1.2vw;
}
.bA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9vw;
}
.bAa {
  width: 26%;
  background-image: url(../../../assets/ic_petrol.svg);
  background-size: 2vw;
  background-repeat: no-repeat;
  padding-left: 3.3vw;
  background-position: 0.5vw;
}
.bAaB {
  font-size: 1.1vw;
  font-weight: 500;
  color: var(--myColor);
}
.bAb {
  width: 33%;
  position: relative;
}
.bAbA {
  position: absolute;
  top: 1vw;
  left: 2vw;
  height: 0.4vw;
  width: 1.2vw;
  transform-origin: top left;
  display: flex;
  justify-content: flex-end;
}
.bAbAa {
  height: 0.3vw;
  width: 0.3vw;
  border-radius: 50%;
  background-color: royalblue;
}
.bAbB {
  padding-left: 3.5vw;
  border-left: 0.08vw solid #9fb5d2;
  border-right: 0.08vw solid #9fb5d2;
}
.bAbBa {
  font-size: 1.1vw;
  font-weight: 500;
  color: #56a052;
}
.bB {
  background-color: #e5ecef;
  height: 0.1vw;
  margin: 0.5vw 1vw;
  margin-bottom: 0.2vw;
}
.bC {
  display: flex;
  justify-content: space-between;
}
.bCa {
  width: 45%;
}
.bCaA,
.bCaA_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5vw;
  padding-left: 1vw;
}
.bCaA_ {
  padding-right: 1vw;
  padding-left: 1.5vw;
}
.bCaB {
  height: 10.5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.bCaBa {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bCaBaA {
  font-size: 0.8vw;
  color: var(--myColor);
}
.bCaBb {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.bCaBbA {
  border-bottom: 0.06vw dashed #70707048;
}
.bCaBbB {
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.bCaBbBa {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.bCaBbBaA,
.bCaBbBaA1,
.bCaBbBaA2 {
  width: 1.5vw;
  height: 60%;
  border-top-left-radius: 0.3vw;
  border-top-right-radius: 0.3vw;
  background-image: linear-gradient(to bottom right, #588fd4, #86b6f3);
}
.bCaBbBaA1 {
  background-image: linear-gradient(to bottom right, #2e4f7a, #406ca5);
  height: 30%;
}
.bCaBbBaA2 {
  background-image: linear-gradient(to bottom right, #d0ac73, #f3c986);
  height: 50%;
}
.bCaBbBaB {
  font-weight: 500;
  font-size: 0.7vw;
  height: 14%;
  padding-top: 5%;
}

.bCaC {
  background-color: #d4efff;
  height: 1.2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--myColor);
  font-size: 0.6vw;
  font-weight: 500;
  border-radius: 0.6vw;
  padding-right: 0.5vw;
  padding-left: 1.2vw;
  background-image: url(../../../assets/ic_!.svg);
  background-size: 0.7vw;
  background-position: 0.3vw;
  background-repeat: no-repeat;
}
.bCb {
  background-color: #70707048;
  width: 0.08vw;
  margin: 2vw 0;
}
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.c {
  padding: 1.2vw 1.5vw;
}
.cC {
  font-size: 0.6vw;
  color: #021c3e;
  margin-top: 1.4vw;
  text-align: right;
  padding-right: 0.2vw;
}
.cD {
  height: 1.3vw;
  width: 100%;
  display: flex;
  border-radius: 0.6vw;
  background-color: #e2e3e3;
  margin-top: 0.4vw;
  margin-bottom: 2vw;
}
.cDd,
.cDe,
.cDf,
.cDg {
  border-radius: 0.6vw;
  height: 1.3vw;
  background-color: #f0534a;
  color: white;
  font-weight: 500;
  font-size: 0.6vw;
  display: flex;
  align-items: center;
  padding-left: 4%;
  width: 50%;
}
.cDe {
  background-color: #f0a04a;
  width: 54%;
}
.cDf {
  background-color: #a09452;
  width: 64%;
}
.cDg {
  background-color: #56a052;
  width: 24%;
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
.d {
  height: 80%;
  padding: 0.8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.dB {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.dBa {
  display: flex;
  align-items: center;
  color: #474747;
  font-size: 0.55vw;
  font-weight: 500;
  margin-top: 0.5vw;
}
.dBaA {
  width: 1.2vw;
  height: 0.7vw;
  border-radius: 0.2vw;
  background-color: #86b6f3;
  margin-left: 0.3vw;
}
.dC {
  position: absolute;
  top: 2vw;
  left: 2vw;
  height: 8vw;
  width: 8vw;
}
/* ------------------------------------------------ */
.dCa {
  position: absolute;
  left: 4vw;
  top: 4vw;
  width: 4vw;
  height: 0.06vw;
  background-color: #021c3e;
  transform-origin: top left;
}
.top {
  position: absolute;
  top: 1.3vw;
  left: 1.3vw;
  height: 5.4vw;
  width: 5.4vw;
  border-radius: 50%;
  background-color: white;
  font-size: 1.2vw;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topA {
  font-size: 0.8vw;
  font-weight: 400;
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
.f {
  padding: 1.2vw 1.5vw;
}
.fA {
  display: flex;
  justify-content: flex-end;
}
.fB {
  height: 8.5vw;
  overflow: auto;
  display: flex;
  margin-top: 0.8vw;
}
.fBa {
  width: 50%;
  padding-right: 0.8vw;
  border-right: 0.05vw solid var(--myColor);
}
.fBaA {
  border-radius: 0.4vw;
  background-color: #ebe7f6;
  padding: 0.4vw 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1vw;
  color: var(--myColor);
  margin-bottom: 0.4vw;
  background-size: 2.5vw;
  background-position: 1vw 0.65vw;
  background-repeat: no-repeat;
  background-image: url(../../../assets/ic_drop1.svg);
}
.fBaA:nth-child(even) {
  background-color: #d4efff;
  background-image: url(../../../assets/ic_drop2.svg);
}
.fBaAa {
  color: #131313;
  font-size: 1.5vw;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
.fBaAaA {
  font-size: 0.6vw;
  padding: 0.15vw;
}
.fBb {
  width: 50%;
  padding-left: 0.8vw;
}
.fBbA {
  border-radius: 0.3vw;
  background-color: #ebe7f6;
  padding: 0.4vw 0.8vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3vw;
  font-weight: 500;
}
.fBbA:nth-child(even) {
  background-color: #d4efff;
}
.fBbAa {
  font-size: 0.7vw;
}
.fBbAb {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.fBbAbA {
  font-size: 0.7vw;
  color: rgba(0, 0, 0, 0.462);
}
.fBbAbB {
  display: flex;
  align-items: flex-end;
  font-size: 1vw;
}
.fBbAbBa {
  color: #759ed3d7;
  font-size: 0.6vw;
  padding: 0.1vw;
}
.fBbAb {
}
.fBbAbA {
}
.fBbAbB {
}
.fBbAbBa {
}
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.g {
  padding: 1.2vw 1.5vw;
}
.gA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
}
.gAa {
  display: flex;
  color: rgb(134, 134, 134);
  font-size: 0.8vw;
}
.gAaA,
.gAaB,
.gAaC {
  margin: 0.3vw;
  cursor: pointer;
}
.gAaB {
  color: #fff;
  font-weight: 500;
  background-color: #214998;
  border-radius: 0.7vw;
  padding: 0.1vw 0.8vw;
}
.gAaC {
  font-weight: 500;
  color: #436ba4dd;
}
.gAb {
  height: 7vw;
  position: relative;
}
.gAbA {
  position: absolute;
  top: 2.8vw;
  left: -3.5vw;
  color: rgba(0, 0, 0, 0.471);
  font-size: 0.55vw;
  width: 7vw;
  height: 1vw;
  text-align: center;
  transform: rotate(-90deg);
}
.gAbB {
  position: absolute;
  left: 0.6vw;
  top: 1vw;
  bottom: 0.2vw;
  color: #c0bdcc;
  font-size: 0.55vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.gAbC {
  position: absolute;
  left: 1.8vw;
  top: 1.4vw;
  bottom: 0.4vw;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gAbCa {
  height: 0.03vw;
  background-color: #ebebeb;
  width: 100%;
}
.gAbD {
  position: absolute;
  left: 1.8vw;
  top: 1.4vw;
  bottom: 0.4vw;
  right: 0;
}
.gAbDa {
  position: absolute;
  width: 1vw;
  /* width: 0.15vw; */
  height: 0.15vw;
  background-color: #42cc7d;
  transform: rotate(90deg);
  transform-origin: top left;
}
.gAc {
  color: #c0bdcc;
  font-size: 0.55vw;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5vw;
}
.gAd {
  color: rgba(0, 0, 0, 0.471);
  font-size: 0.55vw;
  text-align: center;
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
.h {
  padding: 1.2vw 1.5vw;
}
.hC {
  font-size: 0.8vw;
  margin-top: 1vw;
  margin-bottom: 0.3vw;
  margin-left: 0.6vw;
  color: var(--myColor);
}
.hD {
  display: flex;
  align-items: center;
}
.hDa,
.hDa_1,
.hDa_2,
.hDa_3,
.hDa_4 {
  height: 2vw;
  border-radius: 1vw;
  background-image: url(../../../assets/ic_drop.svg);
  background-size: 0.7vw;
  background-position: 94%;
  background-repeat: no-repeat;
  margin-right: 0.4vw;
  background-color: #8674fe;
  width: 80%;
}
.hDa_1 {
  background-color: #ff9066;
  width: 60%;
}
.hDa_2 {
  background-color: #ffca41;
  width: 40%;
}
.hDa_3 {
  background-color: #42cc7d;
  width: 35%;
}
.hDa_4 {
  background-color: #67c2e8;
  width: 30%;
}
.hDb {
  font-size: 0.9vw;
  color: #374958;
  font-weight: 500;
  text-align: right;
}
.hDbA {
  font-size: 0.5vw;
  color: #37495873;
  font-weight: 500;
  text-align: right;
}
