<!-- FOR MAP -->
<div class="a" *ngIf="name === 'map'">this is MAp temp</div>
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-- FOR PRODUCTSALESINVENTORY -->
<div class="b" *ngIf="name === 'productSalesInventory'">
  <div class="bA">
    <div class="bAa">
      Total DU
      <div class="bAaB">748</div>
    </div>
    <div class="bAb">
      Online
      <div class="bAbB">748</div>
    </div>
    <div class="bAc">
      Offline
      <div class="bAcB">748</div>
    </div>
  </div>
  <div class="bB"></div>
  <div class="bC">
    <div>143/154</div>
    <div class="bCb">23 06 2022 06:00</div>
    <div>143/154</div>
    <div class="bCb">23 06 2022 06:00</div>
  </div>
  <div class="bD">
    <div class="bDa"></div>
    <div class="bDb"></div>
    <div class="bDc"></div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-- FOR BAR GRAPH -->
<div class="c" *ngIf="name === 'inventoryForecast'">
  <div class="bC">
    <div class="bCb">23 06 2022 06:00</div>
    <div>Today</div>
  </div>
  <div class="cC">Tanks</div>
  <div class="cD"><div class="cDd">DRY OUT</div></div>
  <div class="cD"><div class="cDe">DRY OUT</div></div>
  <div class="cD"><div class="cDf">DRY OUT</div></div>
  <div class="cD"><div class="cDg">DRY OUT</div></div>
</div>
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<div class="d" *ngIf="name === 'productSale'">
  <div class="bCb">23 06 2022 06:00</div>
  <div class="dB">
    <div class="dBa">
      RO Configured
      <div class="dBaA"></div>
    </div>
    <div class="dBa">
        HOS Received
      <div class="dBaA"></div>
    </div>
  </div>
</div>
<!-- <div *ngIf="name === 'inventoryForecast'">this is MAp temp</div> -->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<div class="f" *ngIf="name === 'fillStatus'">
  <div class="fA">
    <div class="bCb">23 06 2022 06:00</div>
  </div>
  <div class="fB">
    <div class="fBa">
      <div class="fBaA" *ngFor="let item of [1, 1]">
        Total Fill
        <div class="fBaAa">
          12879
          <div class="fBaAaA">Txn</div>
        </div>
      </div>
    </div>
    <div class="fBb">
      <div class="fBbA" *ngFor="let item of [1, 1, 1]">
        <div class="fBbAa">Diesel</div>
        <div class="fBbAb">
          <div class="fBbAbA">Total</div>
          <div class="fBbAbB">
            2572
            <div class="fBbAbBa">Txn</div>
          </div>
        </div>
        <div class="fBbAb">
          <div class="fBbAbA">Average</div>
          <div class="fBbAbB">
            103
            <div class="fBbAbBa">Ltr</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="name === 'inventoryForecast'">this is MAp temp</div> -->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------------------------->
<div class="h" *ngIf="name === 'top5Sites'">
  <div class="bC">
    <div class="bCb">23 06 2022 06:00</div>
    <div>Today</div>
  </div>
  <br />
  <div class="hC">Najid Thumraid</div>
  <div class="hD">
    <div class="hDa"></div>
    <div class="hDb">
      19,440
      <div class="hDbA">KL</div>
    </div>
  </div>
  <div class="hC">Yiti FS</div>
  <div class="hD">
    <div class="hDa_1"></div>
    <div class="hDb">
      19,440
      <div class="hDbA">KL</div>
    </div>
  </div>
  <div class="hC">Al Romalla Wattaya</div>
  <div class="hD">
    <div class="hDa_2"></div>
    <div class="hDb">
      19,440
      <div class="hDbA">KL</div>
    </div>
  </div>
  <div class="hC">Mawella North 2 FS</div>
  <div class="hD">
    <div class="hDa_3"></div>
    <div class="hDb">
      19,440
      <div class="hDbA">KL</div>
    </div>
  </div>
  <div class="hC">Mawella South Al Jarwan FS</div>
  <div class="hD">
    <div class="hDa_4"></div>
    <div class="hDb">
      19,440
      <div class="hDbA">KL</div>
    </div>
  </div>
</div>
