<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////         HOME HEADER       /////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<div class="a">
  <div class="aA"></div>
  <div class="aB"></div>
  <div class="aC">
    <div class="aCa"></div>
    <div class="aCb">
      <div class="aCbA">Welcome</div>
      <div class="aCbC">Jafar Alhusayn</div>
    </div>
    <img class="aCc" />
    <div class="aCd"></div>
  </div>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////          HOME BODY        /////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<div class="b">
  <div class="bA">
    <div class="bAa">Dashboard</div>
    <div class="bAb">
      <div class="bAbA">Filter</div>
      <select class="bAbB">
        <option>All countries</option>
      </select>
      <select class="bAbB">
        <option>All regions</option>
      </select>
      <select class="bAbB">
        <option>All sites</option>
      </select>
      <div class="bAbC">SUBMIT</div>
    </div>
  </div>
  <app-home-dashboard
    [hidden]="drowerPath !== 'dashboard'"
  ></app-home-dashboard>
  <app-home-ops [hidden]="drowerPath !== 'ops'"></app-home-ops>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////         HOME DROWER       /////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
<div class="c">
  <div class="cA">
    <div
      *ngFor="let ic of drowerIcon; let i = index"
      class="cAa"
      [ngClass]="{ cAa_: drowerPath === ic.path }"
      (click)="onDrowerIconClick(i)"
      [ngStyle]="{ 'background-image': 'url(../../assets/ic_'+ic.icon+'.svg)' }"
    >
      {{ ic.title }}
    </div>
  </div>
  <div class="cB"></div>
</div>
