<div class="a">
  <div class="aA">
    <div class="ccA">Map View</div>
    <div class="aAa"><app-graph name="map"></app-graph></div>
    <div class="aAb">
      <div class="ccB">
        Product Sale
        <div class="ccA_">%</div>
      </div>
      <div class="ccB">
        Critical Stock
        <div class="ccA_">15% of tank capacity</div>
      </div>
    </div>
    <div class="aAb">
      <div class="aAbA">
        <app-graph name="productSale" graphValue="0"></app-graph>
      </div>
      <div class="aAbA">
        <app-graph name="productSale" graphValue="1"></app-graph>
      </div>
    </div>
    <div class="aAb">
      <div class="ccB">Price Change Status</div>
      <div class="ccB">Connectivity Status</div>
    </div>
    <div class="aAb">
      <div class="aAbA">
        <app-graph name="productSale" graphValue="2"></app-graph>
      </div>
      <div class="aAbA">
        <app-graph name="productSale" graphValue="3"></app-graph>
      </div>
    </div>
  </div>
  <div class="aA">
    <div class="ccA">
      Product Sales & Inventory
      <div class="ccA_">KL</div>
    </div>
    <div class="aAa"><app-graph name="productSalesInventory"></app-graph></div>
    <div class="ccA">Fill Status</div>
    <div class="aAc"><app-graph name="fillStatus"></app-graph></div>
    <div class="ccA">Sales / Inventory Trends</div>
    <div class="aAc"><app-graph name="salesInventoryTrends"></app-graph></div>
  </div>
  <div class="aC">
    <div class="ccA">Inventory Forecast</div>
    <div class="aAa"><app-graph name="inventoryForecast"></app-graph></div>
    <div class="ccA">Top 5 Sites in Sales</div>
    <div class="aAd"><app-graph name="top5Sites"></app-graph></div>
  </div>
</div>
